img.iconmenu{
	width: 45px;
	height: 45px;
	/*object-fit: cover;*/

}
ul,li{
	list-style: none;
}
header nav{
	display: flex;
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 50px;
	background-color: #242424;
}
header nav a{
	text-decoration: none;
	color: #fff;
}
header nav div.general{

	width: 95%;
	height: 100%;

	margin: auto;
}
header nav div.general  div.lazaro,header nav div.general  div.menu{
	display: table;
	float: left;
}
header nav div.general div.btnmas{
	display: none;

}
header nav div.general button.mas{
	margin-top: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	border-radius: 7px;
	font-size: 15pt;
	font-weight: 700;
	color: white;
	font-family: Arial;
	width: 40px;
	height: 40px;
	font-weight: 700;
	outline: none;
	transition: background .5s;
	
}
header nav div.general button.mas:hover{
	background: #007BFF;
}
header nav div.general div.btnmas button.mas > span{
	display: block;
	transform: rotateZ(90deg);
}
header nav div.general  div.lazaro{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  	align-items: center;

	color:white;
}
header nav div.general  div.lazaro p.text{
	font-size: 15pt;
	font-family: Arial;
}
header nav div.general > a{
	text-decoration: none;
}
header nav div.lazaro{
	width: 305px;
}
/* MEDIA  */
@media screen and (min-width:1188px){
	header nav div.menu{
		height: 100%;
		width:calc(100% - 305px);
	}

	header nav div.menu div.sub{
		display: flex;
		flex-wrap: wrap;
		width: 95%;
		height: 100%;
		margin: 0 auto;
	}
	header nav div.menu div.sub ul{
		display: flex;
		align-items: center;
		height: 100%;
	}
	header nav div.menu div.sub ul.menu.principal{
		width: 70%;
	}
	header nav div.menu div.sub ul.menu.principal li, header nav div.menu div.sub ul.menu.sub li.blog{
		width: auto;
		margin-right:20px;
		font-family:"Courier New",	monospace ;/* "Courier New",	monospace  *//*"Trebuchet MS",sans-serif*/
		font-size: 13pt;
		text-align: center;
	}
	header nav div.menu div.sub ul.menu.principal li a, header nav div.menu div.sub ul.menu.sub li.blog a{
		color: #bbb;
		text-decoration: none;
		transition: color .5s;
	}
	header nav div.menu div.sub ul.menu.principal li a:hover, header nav div.menu div.sub ul.menu.sub li.blog a:hover{
		color:#fff;
	}
	header nav div.menu div.sub ul.menu.sub{
		width: 30%;
	}
}
@media screen and (max-width:1187px){
	header nav div.general div.btnmas{
		float: right;
		display: block;
  		width: 40px;
  		height: 50px;
  		
	}
	header nav div.general  div.menu{
		display: block;
		position: relative;
		width: 100vw;
	}
	header nav div.general  div.menu div.sub{
		overflow-x: hidden;
		overflow-y: auto;

		color: black;
		display: block;
		width: 100%;
		height: 0px;
		max-height: 50vh;
		position: absolute;
		left: -2.5vw;
		background: #242424;
		transition: height .5s;
	}
	header nav div.general  div.menu div.sub ul li{
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		padding-left: 20px;
		height: 40px;
		font-family:"Courier New",	monospace ;/* "Courier New",	monospace  *//*"Trebuchet MS",sans-serif*/
		font-size: 13pt;
	}
	header nav div.general  div.menu div.sub ul li a{
		color: #bbb;
		transition: color .5s;
	}
	header nav div.general  div.menu div.sub ul li a:hover{
		color:#fff;
	}
}